@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Poppins:wght@500;700&display=swap');

.title{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    margin-top: 161px;
    margin-left: 246px;
}
.container{
    display: flex;
    justify-content: center;
   
    background-color: black;
    width: 1321px;
height: 646px;
left: 140px;
margin-left: 300px;
margin-top: 50px;
border-radius: 30px;
margin-bottom: 160px;
m
    
}
.tournament{
    font-size: 16px;
    color: #FFFFFF;

    width: 506px;
height: 78px;



}
.copa img{
    margin-left: 40px;

}
    
    
.style{
    font-size: 20px;
    font-style: normal;
font-weight: 400;
color: #FFFFFF;
margin-top: 60px;




}
.arrow{
    width: 24px;
height: 24px;
color: #FFFFFF;
margin-left: 6px;

}
.button{
    margin-top: 30px;
    text-decoration: none;
    width: 115px;
    height: 20px;
border-radius: 5px;
padding: 16px 25px;
background: #DD0000;
text-align: center;
}
.container2{
   margin-left: 150px;
   margin-bottom: 10px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding-left: 500px;
   padding-bottom: 30px;
   margin-top: 50px;
   
   
   
 
}

.all-setup{
   background-color: #161616;
   margin-top: 30px;
   
   width: 300px;
height: 220px;
border-radius: 10px;
position: absolute;
left: 300px;

padding: 60px 15px;


}
.match{
    font-size: 20px;
    color: #161616;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 10px;

   
   
}
.three-button{
    width: 252px;
height: 64px;
margin-left:  17px; 

border-radius: 10px;
background-color: #FFFFFF;
text-align: center;
margin-bottom: 10px;





}
.grp{
    width: 252px;
height: 64px;
margin-left: 17px;
text-align: center;
border-radius: 10px;
background-color:#FFFFFF;
margin-top: 20px;
margin-bottom: 10px;

}
.all-grp{
    font-size: 20px;
    color: #161616;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 10px;

    
   
   
}
.blogs{
    width: 252px;
height: 64px;
margin-left: 17px;
text-align: center;

border-radius: 10px;
background-color: #DD0000;
margin-top: 30px;



 
}
.blog{
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
  
    
    text-align: center;
    
  

}
/* middle part start */
.part1{
   display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 10px;


}
.part2,.m-sala,.size,.transfer-info,.clock-mess,.clock-messa,.mess-side{
    margin-top: 10px;
}
.m-sala{
    width: 312px;
height: 175px;
border-radius: 10px 10px 0px 0px;
margin-bottom: 30px;
padding-right: 30px;
m
}
.size{
    width: 100px;
height: 32px;
border-radius: 5px;
margin-top: 10px;
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
}
.transfer-info{
    font-family: 'Poppins';
    font-weight: 600;
font-size: 18px;
width: 272px;
height: 54px;
display: flex;




}

.clock-mess{
    width: 143px;
height: 26px;
}
.clock-messa{
    width: 26px;
height: 26px;
font-family: 'Poppins';
margin-right: 25px;
}
.mess-side{
    margin-right: 5px;
}
/* middle part  */
.last-part{
   
    background-color: #161616;
    
height: 444px;
padding-left: 0%;
margin-top: ;
  
   

}
.center{
  
}
.gl{
    text-align: center;
    margin-bottom: 10px;
    
   
color: #FFFFFF;
}
.adjust1{
   
   padding-left: 400px;
   display: grid;
   grid-template-columns: repeat(6,0.5fr);
  
   color: #B9B9B9;
   font-family: 'Poppins';

font-weight: 500;
font-size: 16px;

}
.border{
    width: 1320px;
height: 0px;
color: #FFFFFF;
border: 1px solid rgba(255, 255, 255, 0.1);

}
.one-line{
   
   
}
